<div class="footer">
    <div class="w1200">
        <div class="footer-links clearfix">
            <div class="footer-item">
                <h4>关于我们</h4>
                <li>
                    <li><a href="">关于ECFT</a></li>
                    <li><a href="">团队介绍</a></li>
                    <li><a href="">欧神诺20周年</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4>网站帮助</h4>
                <li>
                    <li><a href="">网站帮助</a></li>
                    <li><a href="">问题(社区)咨询</a></li>
                    <li><a href="">版权声明</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4>联系我们</h4>
                <li>
                    <li><a href=""><i class="icon iconfont icon-message"></i>在线咨询</a></li>
                    <li><i class="icon iconfont icon-phone"></i>400-888-8888</li>
                </ul>
            </div>
            <div class="footer-item">
                <h4>招商信息</h4>
                <li>
                    <li>招商电话：13988888888</li>
                    <li>营销中心：XXXX</li>
                </ul>
            </div>
            <div class="footer-item footer-sns-item">
                <h4>关注我们</h4>
                <div class="footer-sns-github">
                    <a href="https://github.com/canwdev/ecom-fe-tmpl" target="_blank"><i class="icon iconfont icon-github-fill"></i></a>
                </div>
                <div class="footer-sns-qrcode">
                    <img src="img/qrcode.png">
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="footer-copyright">
                &copy;2018-2019 &nbsp;&nbsp;&nbsp;&nbsp; E-Commercial Frontend Template &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备00000000号-1</a>
            </div>
            <div class="footer-beian">
            </div>
        </div>
        
    </div>
</div>