<div class="header-adbanner">
    <div class="w1200">
        <a href="###">
            <img src="img/banner1210.jpg">
        </a>
    </div>
</div>

<div class="header-toolbar">
    <div class="w1200">
        <p>您好，欢迎来到ECFT商城！</p>
        <ul class="fright">
            <li>
                <a href="login.html" class="js-userlogin">会员登录</a>
            </li>
            <li>
                <a href="register.html">免费注册</a>
            </li>
            <li>
                <a href="javascript:void(0);">关注我们</a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="login('mycollection.html')">我的收藏</a>
            </li>
            <li><i class="icon iconfont icon-phone"></i>400-888-8888</li>
        </ul>
    </div>
</div>

<div class="header-main">
    <div class="w1200 clearfix">
        <div class="header-logo">
            <a href="index.html"><img src="img/logo.png"></a>
        </div>
        @@include('header_search.html')
        <div class="header-main-right">
            <a href="###">
                <img src="img/1000point.png">
            </a>
        </div>
    </div>
    <div class="header-nav">
        <div class="w1200">
            <ul>
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="prod-room.html">样板间</a></li>
                <li><a href="prod-effect.html">效果图</a></li>
                <li><a href="prod-library.html">产品库</a></li>
                <li><a href="decoration-tips.html">装修攻略</a></li>
                <li><a href="member.html"><i class="icon iconfont icon-user" style="font-size: 20px"></i>会员中心</a></li>
            </ul>
        </div>
    </div>
</div>