// LESS Colors
@mainColor: #FF9800;
@mainBackground: rgba(27, 27, 27, 0.733);
@footerBlack: #202020;
@footerColor: #A6A6A6;
@black: #222;
@white: #fff;
@selection: fadeout(@mainColor, 50%);
@transparentWhite: fadeout(@white, 80%);
@grey: #e6e6e6;
@shadowColor: rgba(0, 0, 0, 0.39);

.rounded-corners (@radius: 4px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

/* ------------------------
 * copyright canwdev 2018.7
 * ------------------------ */